.UserPageOrderCardWrapper {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(211, 211, 211, 0.75);
    margin-top: 1rem;
  }

  .UserPageOrderCardOrderNumberWrapper {
    background-color: rgb(223, 223, 223);
    padding: 0.5rem;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .UserPageOrderCardOrderNumber,
  .UserPageOrderCardOrderSum {
    font-family: "Comfortaa", cursive;
    font-size: 12px;
    margin: 0;
    font-weight: 900;
  }

  .UserPageOrderCardMainSectionWrapper {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  }
  
  .UserPageOrderCardPurchasedProductWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .UserPageOrderCardPurchasedProductInfoWrapper {
    display: flex;
    align-items: center;
  }
  .UserPageOrderCardPurchasedProductImageWrapper {
    width: 10rem;
    margin-right: 1rem;
  }

  .UserPageOrderCardPurchasedProductImage {
    width: 10rem;
    border-radius: 5px;
    object-fit: contain;
  }

  .UserPageOrderCardPurchasedProductInfoTextWrapper {
    display: flex;
    flex-direction: column;
  }

  .UserPageOrderCardPurchasedProductTitle,
  .UserPageOrderCardPurchasedProductQuantity {
    font-size: 12px;
  font-family: "Roboto", sans-serif;
  margin-top: 0;
  }

  .UserPageOrderCardPurchasedProductPrice {
    font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  }