.UserPageMainSectionWrapper {
    width: 90%;
    display: flex;
    padding: 0 5% 0 5%;
}

.UserPageSideBar {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 5rem;
}

.UserPageSideBarHeading {
    font-family: "Comfortaa", cursive;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.UserPageSideBarLink {
    font-family: "Comfortaa", cursive;
    font-size: 0.8rem;
    background-color: transparent;
    border: none;
    margin-bottom: 1.5rem;
    text-align: left;
    cursor: pointer;
}

.LogOut {
    margin-top: 3rem;
}

.UserPageInfoSection {
    width: 100%;
}

.DeleteAccount {
    margin-top: 3rem;
    font-size: 0.5rem;
}

@media screen and (max-width: 550px) {
    .UserPageMainSectionWrapper {
        width: 90%;
        display: flex;
        flex-direction: column;
        padding: 0 5% 0 5%;
    }

    .UserPageSideBar {
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .UserPageSideBarLink {
        margin-bottom: 0.5rem;
    }

    .LogOut {
        margin-top: 1rem;
    }
}