.OrderDoneModalWrapper {
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#c0bbbb95;
}

.OrderDoneModalBody {
    padding: 1rem;
    height: 30%;
    width: 30%;
    background: #ffff;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 5px 5px #a4a5a6;
    font-family: 'Roboto', sans-serif;
    color: #323030;
    position: relative;
}

.ModalCloseIcon {
    display: flex;
    justify-content: right;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.5rem;
    border: transparent solid 1px;
}

.ModalCloseIcon:hover {
    border:  gray solid 1px;
    border-radius: 50%;
}
.ModalCloseIcon:active {
    background: #a4a5a634;
    border-radius: 50%;
    border: 1px solid #32303035;
}

.ModalCloseIcon img {
    width: 1rem;
    cursor: pointer;
}

.OrderDoneModalContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    text-align: center;
}

.OrderDoneModalContent img {
    height: 60px;
}


@media screen and (max-width: 900px) {
    .OrderDoneModalBody {
        height: 40%;
        width: 30%;
    }
}

@media screen and (max-width: 550px) {
    .OrderDoneModalBody {
        height: 30%;
        width: 40%;
    }

    .OrderDoneModalContent img {
        height: 30px;
    }
}