.AdvertisementSectionWrapper {
  max-width: 1280px;
    display: flex;
    justify-content: space-between;
    padding: 4rem 5% 4rem 5%;
    position: relative;
    overflow: hidden;
    width: 90%;
}

.AdvertisementSectionHeadingWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  padding: 0 1rem 0 2rem;
}

.AdvertisementSectionImageWrapper {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  max-height: 400px;
}

.AdvertisementSectionImage {
  width: 30rem;
  max-width: 100%;
  object-fit: cover;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

.AdvertisementSectionHeading {
  font-family: "Comfortaa", cursive;
  text-transform: capitalize;
  line-height: 2.5rem;
}

.AdvertisementSectionParagraph {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  line-height: 20px;
}

.slideIn {
  animation: slideInRightToLeft 3s ease-in-out;
}

@keyframes slideInRightToLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  .AdvertisementSectionImageWrapper .SharedButton {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 550px) {
  .AdvertisementSectionWrapper {
    padding: 2rem;
    flex-direction: column-reverse;
    text-align: center;
  }
  .AdvertisementSectionHeadingWrapper {
    width: 100%;
    align-items: center;
    padding: 0;
  }

  .AdvertisementSectionParagraph {
    margin-bottom: 0.3rem;
    padding-bottom: 1rem;
  }

  .AdvertisementSectionHeading {
    margin-bottom: 0.3rem;
  }

  .AdvertisementSectionImageWrapper .SharedButton {
    padding: 0.5rem 1rem 0.5rem 1rem;
  }

  .AdvertisementSectionImageWrapper {
    width: 100%;
    padding-top: 2rem;
    justify-content: center;
  }

  .AdvertisementSectionImage {
    height: 10rem;
    object-fit: cover;
    border-radius: 3px;
  }
}
