.ScrollToTopButton {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: rgb(168, 168, 168);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 999;
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
  }
  
  .ScrollToTopButton.show {
    display: block;
  }