.AdvertisementSectionBlock {
  overflow: hidden;
}

.AdvertisementSectionWrapper {
  max-width: 1280px;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4rem 0 4rem 0;
}

.AdvertisementSectionHeadingWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 2rem 1rem 2rem;
}

.AdvertisementSectionImageWrapper {
  display: flex;
  justify-content:center;
  position: relative;
}

.AdvertisementSectionImage {
  height: 100%;
  object-fit: cover;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  z-index: 0;
  position: absolute;
}
.AdvertisementSectionImageDiscountWrapper {
  height: 80px;
  width: 80px;
  position: absolute;
  top: 20px;
  right: 80px;
  margin: 0;
  padding: 0;
  z-index: 995;
}

.AdvertisementSectionImageDiscountLayer {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: relative;
  background-color: rgba(128, 0, 0, 0.6);;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.AdvertisementSectionImageDiscount {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: relative;
  background-color: #800000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.AdvertisementSectionImageDiscount p {
  margin: 0;
  padding: 0;
}

.AdvertisementSectionHeading {
  font-family: "Comfortaa", cursive;
  text-transform: capitalize;
  line-height: 2.5rem;
}

.AdvertisementSectionParagraph {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  line-height: 20px;
}

.slideIn {
  animation: slideInRightToLeft 3s ease-in-out;
}

@keyframes slideInRightToLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  .AdvertisementSectionImageWrapper .SharedButton {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 550px) {
  .AdvertisementSectionWrapper {
    grid-template-columns: 1fr;
    height: 100%;
    padding: 2rem 0 2rem 0;
  }
  .AdvertisementSectionImageWrapper {
    height: 180px;
  }
  .AdvertisementSectionHeadingWrapper {
    height: 100%;
  }

  .AdvertisementSectionParagraph {
    margin-bottom: 0.3rem;
    padding-bottom: 1rem;
  }

  .AdvertisementSectionImageWrapper .SharedButton {
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
}
