.AboutShopSectionWrapper {
    width: 90%;
    padding: 1rem 5% 1rem 5%;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    height: 100%;
}

.AboutShopImageWrapper {
    width: 50%;
    display: flex;
    align-items: stretch; 
}

.AboutShopImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.AboutShopInfoWrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.AboutShopHeading {
    font-family: "Comfortaa", cursive;
    text-align: center;
}

.AboutShopText {
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    text-align: justify;
}

@media screen and (max-width: 550px) {
    .AboutShopSectionWrapper {
      padding-top: 0.5rem;
      flex-direction: column;
      text-align: center;
      width: 90%;
    }
    
    .AboutShopHeading {
      margin-bottom: 0.3rem;
    }
  
    .AboutShopInfoWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
  
    .AboutShopImageWrapper {
      width: 100%;
      padding-top: 1rem;
      justify-content: center;
    }
  
    .ABoutShopImage {
      height: 10rem;
      object-fit: cover;
      border-radius: 3px;
    }
  }