.AdminLoginWrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 25rem;
  height: 20rem;
  max-width: 90%;
  min-width: 250px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgba(126, 125, 125, 0.418);
}

.AdminLoginFormWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.AdminLoginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.AdminLoginFormLogo {
  width: 8rem;
  margin-bottom: 0.5rem;
}

.AdminLoginFormHeading {
  font-size: 0.7rem;
  font-family:"Comfortaa", cursive;
  margin-bottom: 2rem;
}

.AdminLoginUserNameInput,
.AdminLoginPasswordInput {
  border-radius: 20px;
  border: 1px solid rgb(185, 184, 184);
  height: 1.3rem;
}

.AdminLoginUserNameInput:focus-visible,
.AdminLoginPasswordInput:focus-visible {
    outline: 1px solid rgb(117, 117, 117);
}

.AdminLoginUserNameInputLabel,
.AdminLoginPasswordInputLabel {
  font-family:"Comfortaa", cursive;
  margin-bottom: 3px;
  font-size: 0.8rem;
  margin-left: 1rem;
}

.AdminLoginPasswordInputLabel {
  margin-top: 1rem;
}

.AdminLoginButton {
    letter-spacing: 1px;
    font-size: 0.8rem;
    font-family: "Comfortaa", cursive;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.2s all;
    margin-top: 1rem;
}

.AdminLoginButton:hover {
    box-shadow: 2px 2px 2px 1px rgb(177, 177, 177);
}

.AdminLoginButtonLink {
  text-decoration: none;
  color: inherit;
}

.AdminLoginButton:active {
    transform: scale(0.96);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.AdminLoginFormWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.AdminLoginForgotPasswordLink {
    margin-top: 1rem;
    font-size: 0.5rem;
    font-family: "Comfortaa", cursive;
    letter-spacing: 0.8px;
    cursor: pointer;
}