.ShoppingCartWrapper {
    width: 90%;
    padding: 0 5% 0 5%;
    background-color: #c0bbbb37;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ShoppingCartHeading {
    width: 15rem;
    margin: auto;
    text-align: center;
    font-family: "Comfortaa", cursive;
    padding: 2rem 0 0.5rem 0;
    border-bottom: 2px solid rgb(41, 41, 41);
}

.ShoppingCartBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    padding: 1rem 0 3rem 0;
}

.EmptyShoppingCartTitle {
    text-align: center;
    font-family: "Comfortaa", cursive;
    padding: 2rem 0;
}

.ShoppingCartContent {
    display: flex;
    width: 100%;
    padding: 3rem 0;
}

.ShoppingCartSummaryContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    color: #323030;
    padding: 1rem 0;
    border-top: solid 1px #32303035;
    border-bottom: solid 1px #32303035;
    min-height: 100px;
    margin-bottom: 1rem;
}

.ShoppingCartSummaryContainerValue {
    width: 10rem;
    display: flex;
    justify-content: flex-end;
}

.ShoppingCartButtonsContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}