.ShoppingCartWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 0 5% 0 5%;
    background-color: #c0bbbb37;
    flex: 1;
}

.ShoppingCartHeading {
    width: 15rem;
    text-align: center;
    font-family: "Comfortaa", cursive;
    padding: 2rem 0 0.5rem 0;
    border-bottom: 2px solid rgb(41, 41, 41);
}

.ShoppingCartBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    padding: 1rem 0 3rem 0;
}

.EmptyShoppingCartCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffff;
    border-radius: 3px;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    margin-bottom: 2rem;
}

.EmptyShoppingCartTitle {
    text-align: center;
    font-family: "Comfortaa", cursive;
    padding: 2rem 0;
}

.EmptyShoppingCartImg img {
    height: 250px;
}

.ShoppingCartContent {
    display: flex;
    width: 100%;
    padding: 3rem 0;
}

.ShoppingCartItemWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ShoppingCartSummaryContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    color: #323030;
    padding: 1rem 0;
    border-top: solid 1px #32303035;
    border-bottom: solid 1px #32303035;
    min-height: 100px;
    margin-bottom: 1rem;
}

.ShoppingCartSummaryContainerValue {
    width: 10rem;
    display: flex;
    justify-content: flex-end;
}

.ShoppingCartButtonsContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

@media screen and (max-width: 550px) {
    .ShoppingCartItemWrapper {
        align-items: center;
    }

    .ShoppingCartItemData.CartItemImage {
        width: 100%;
    }

    .ShoppingCartItemData.EmptyShoppingCartCard {
        width: 80%;
    }

    .EmptyShoppingCartImg img {
        height: 150px;
    }

    .ShoppingCartButtonsContainer {
        flex-direction: column;
        justify-content: center;
    }

    .ShoppingCartButtonsContainer .SharedButton{
        margin: 1rem 5rem 0 5rem;
    }
}