.ProductPreviewModalWrapper {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#c0bbbb95;
}

.ProductPreviewModalBody {
    padding: 1rem;
    height: 70%;
    width: 80%;
    background: #ffff;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 5px 5px #a4a5a6;
    font-family: 'Roboto', sans-serif;
    color: #323030;
    position: relative;
}

.ModalCloseIcon {
    display: flex;
    justify-content: right;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.5rem;
    border: transparent solid 1px;
}

.ModalCloseIcon:hover {
    border:  gray solid 1px;
    border-radius: 50%;
}
.ModalCloseIcon:active {
    background: #a4a5a634;
    border-radius: 50%;
    border: 1px solid #32303035;
}

.ModalCloseIcon img {
    width: 1rem;
    cursor: pointer;
}

.ModalProductDataSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5rem;
    height: 100%;
}

.ModalProductImageBlock {
    display: flex;
    flex: 1;
    justify-content: center;
    padding-right: 1rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ModalProductImageBlock img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.ModalProductInfoBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 0.7;
    width: 100%;
}

.ModalProductInfoBlockHeader {
    min-height: 25%;
}

.ModalProductTitle {
    font-family: "Comfortaa", cursive;
    font-size: 1rem;
    font-weight: bold;
    padding-right: 2rem;
    margin-bottom: 1rem;
}

.ModalProductPrice {
    font-family: "Comfortaa", cursive;
    padding: 1rem 0;
    border-top: 1px solid #32303035;
    width: 80%;
}

.ModalProductColor {
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.ModalProductDescription {
    font-size: 0.8rem;
    font-weight: 400;
    padding-right: 2rem;
    line-height: 1.1rem;
}

.ModalProductDetails {
    display: flex;
    flex-direction: column;
    min-height: 50%;
}

.ModalProductTabs {
    display: flex;
    width: 100%;
    justify-content: left;
}

.ModalProductTabs div {
    font-family: "Comfortaa", cursive;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    min-width: 85px;
    padding: 0.5rem;
    text-align: center;
}

.ModalProductTabs div:last-child {
    margin-left: 1.5rem;
}

.ModalProductTabs div:hover {
    cursor: pointer;
}

.ModalProductTabs div.active {
    border-bottom: solid 1px #3230309c;
}

.ModalProductTabContent {
    border-top: solid 1px #32303035;
    width: 90%;
}

.ModalProductFeatures {
    font-weight: 400;
    font-size: 0.8rem;
    padding-top: 1rem;
    padding-left: 0.5rem;
}

.ModalProductFeatures h5 {
    margin: 0.6rem 0 0.4rem 0;
    letter-spacing: 0.05rem;
}

.ModalProductFeatures p {
    margin: 0;
    line-height: 1.1rem;
}

.ModalProductDimensions {
    font-size: 0.8rem;
    font-weight: 400;
    list-style: none;
    padding: 1.6rem 0 0 0.5rem;
    line-height: 1.1rem;
    letter-spacing: 0.05rem;
    margin: 0;
}

.ModalProductDimensions li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0.25rem;
}

.ModalProductDimensions img {
    width: 30px;
    padding-right: 0.8rem;
}

.ModalProductDimensions li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0.25rem;
}

.ModalProductDimensions img {
    width: 30px;
    padding-right: 0.8rem;
}

.ModalProductInfoBlockFooter {
    display: flex;
    flex-direction: column;
}

.ModalProductInfoBlockFooter Button {
    align-self: flex-end;
}

@media screen and (max-width: 1300px) {
    .ModalProductImageBlock, 
    .ModalProductInfoBlock {
        flex:0.5;
    }
}

@media screen and (max-width: 900px) {
    .ProductPreviewModalBody {
        height: 90%;
    }
    .ModalProductImageBlock {
        flex:0.4;
        width: 95%;
    } 
    .ModalProductInfoBlock {
        flex:0.6;
        max-height: 400px;
        width: 95%;
        justify-content: unset;
        padding-top: 2rem;
    }

    .ModalProductDataSection {
        flex-direction: column;
        margin: 2rem 0;
        justify-content: flex-start;
        overflow-y: scroll;
        align-items: center;
    }

    .ModalProductInfoBlockHeader {
        min-height: auto;
    }

    .ModalProductFeatures {
        padding-bottom: 1rem;
    }

    .ModalProductDetails {
        min-height: fit-content;
    }

    .ModalProductPrice {
        padding-bottom: 0;
    }

    .ModalProductInfoBlockFooter {
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 550px) {
    .ProductPreviewModalWrapper {
        padding: 5rem 0 3rem 0;
    }

    .ProductPreviewModalBody {
        height: 100%;
    }

    .ModalProductDataSection {
        justify-content: flex-start;
        overflow-y: scroll;
    }

    .ModalProductImageBlock {
        flex: 0.4;
        padding: 0;
        min-height: 200px;
    }

    .ModalProductInfoBlock {
        flex: 0.6;
    }

    .ModalProductImageBlock img {
        height: 90%;
    }

    .ModalProductDetails {
        min-height: fit-content;
    }

    .ModalProductInfoBlockFooter {
        padding-right: 1rem;
    }
}