.AdminPageWrapper {
    width: 100vw;
    display: flex;
    align-items: center;
    min-width: 850px;
    align-items: flex-start;
}

.AdminPageSideSectionWrapper {
    width: 15%;
    min-width: 205px;
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: 9999;
    height: 100vh;
    background-color: rgb(223, 223, 223) ;
    box-shadow: 0px 0px 10px 0px rgba(211, 211, 211, 0.75);
}

.AdminPageMainSectionWrapper {
    width: 85%;
    min-width: 745px;
}
