html {
  scroll-behavior: smooth;
}

.FooterWrapper {
  width: 90%;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 1.5rem;
  padding: 1.5rem 5% 1.5rem 5%;
}

.FooterAboutWrapper,
.FooterContactsWrapper,
.FotterNewsLetterWrapper {
  display: flex;
  flex-direction: column;
}

.FooterLogo {
  width: 5rem;
}

.FooterAbout {
  font-size: 12px;
    font-family: "Roboto", sans-serif;
    max-width: 200px;
    line-height: 1.5;
}

.FooterSocialIconsWrapper {
  display: flex;
}

.FooterSocialIcon {
  width: 1.3rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.FooterContactsHeading {
  font-family: "Comfortaa", cursive;
  color: rgb(63, 63, 63);
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.FooterAddressWrapper,
.FooterPhoneWrapper,
.FooterEmailWrapper {
  display: flex;
}

.FooterContactIcon {
  width: 0.7rem;
  margin-bottom: 0.3rem;
  object-fit: contain;
}

.FooterContactText {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  margin-left: 0.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.FooterNewsletterHeading {
  font-family: "Comfortaa", cursive;
  color: rgb(63, 63, 63);
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.FooterNewsletterAnnouncement {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.FooterNewsletterFormWrapper {
  display: flex;
}

.FooterNewsletterFormInput {
  border-radius: 5px 0 0 5px;
  border: 1px solid rgb(184, 184, 184);
}

.FooterNewltetterFormButton {
  background-color: rgb(184, 184, 184);
  border: rgb(184, 184, 184);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.FooterNewsletterButtonArrow {
  width: 0.5rem;
  filter: opacity(70%);
}

@media screen and (max-width: 550px) {
  .FooterWrapper {
    flex-direction: column;
    align-items: center;
  }

  .FooterAboutWrapper,
  .FooterContactsWrapper,
  .FotterNewsLetterWrapper {
    align-items: center;
  }

  .FooterAbout {
    text-align: center;
  }
}

.FooterThankYouMessage {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  margin-top: 5px;
  font-style: italic;
}

.FooterInvalidEmailMessage {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  margin-top: 5px;
  color: rgba(252, 95, 95, 0.849);
}
