.SharedButton {
    font-size: 0.8rem;
    letter-spacing: 1px;
    line-height: 20px;
    font-family: "Comfortaa", cursive;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 1rem 2rem 1rem 2rem;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.2s all;
}

.SharedButton:hover {
    box-shadow: 2px 2px 2px 1px rgb(177, 177, 177);
}

.SharedButton:active {
    transform: scale(0.96);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}