.HeaderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;
  height: 3rem;
  margin: auto;
  background-color: white;
  z-index: 10;
}

.HeaderLogoWrapper {
  width: 6rem;
  display: flex;
  align-items: center;
}

.HeaderLogo {
  width: 5rem;
  object-fit: cover;
}

.HeaderNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem 0 2rem;
  padding: 0;
  width: 35%;
  min-width: 15rem;
}

.HeaderNavbarListItem {
  list-style-type: none;
  margin: 0 0.2rem 0 0.2rem;
  font-family: "Comfortaa", cursive;
  font-size: 0.8rem;
  cursor: pointer;
}

.HeaderNavbarListItem:hover{
    text-shadow:  0.5px 0.5px 0.5px gray;
}

.HeaderNavbarListItem:active {
    font-weight: 800;
}

.HeaderSearchWarpper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 6rem;
  position: relative;
}

.HeaderSearchInput {
  border: 0.5px solid;
  border-radius: 10px;
  width: 6rem;
  padding: 0.3rem;
  height: 1.3rem;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

.HeaderSearchInput:focus {
    width: 9rem;
    transition: all 0.5s ease;
}

.HeaderSearchButton {
  height: 1.3rem;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
}

.HeaderSearchIcon {
  position: absolute;
  width: 0.9rem;
  right: 10px;
}

.HeaderNavbarMobileWrapper {
  display: none;
  width: 5rem;
  background-color: white;
}

.HeaderNavbarMobileButton {
  background-color: transparent;
  border: none;
  margin: 0 2rem 0 2rem;
  cursor: pointer;
  background-color: white;
}

.HeaderNavbarMobileButtonImage {
  width: 1.5rem;
}

@media screen and (max-width: 550px) {
  .HeaderNavbar {
    display: none;
  }

  .HeaderNavbarMobileWrapper {
    display: flex;
    justify-content: center;
    background-color: white;
  }
  .HeaderNavbarMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 90%;
    padding: 0;
    top: -20rem;
    margin: auto;
    transition: all 1s ease;
    background-color: white;
    z-index: 10;
  }
  .HeaderNavbarMobileActive {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 90%;
    padding: 0;
    top: 3rem;
    margin: auto;
    transition: all 1s ease;
    background-color: white;
  }

  .HeaderNavbarListItem {
    margin: 0.2rem 0 0.2rem 0;
  }
  .HeaderNavbarMobile {
    display: flex;
    justify-content: center;
  }
  .HeaderWrapper {
    align-items: center;
  }
}
