.Filter2ItemWrapper {
    display: flex;
    font-family: 'Roboto', sans-serif;
}
.Filter2ItemName {
    width: 100%;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    color: #3d3d3d;
    cursor: pointer;
    padding-right: 1.5rem;
    white-space: nowrap;
}
.Filter2ItemName:hover {
    text-shadow: 0.5px 0.5px 0.5px gray;
  }

@media screen and (max-width: 470px) {
    .Filter2ItemWrapper {
        min-width: 40px;
        height: 30px;
        font-size: 0.2rem;
        padding: 0 0.3rem 0 0.3rem;
    }
}

@media screen and (max-width: 550px) {
    .Filter2ItemName {
        text-align: center;
        padding: 0 0.3rem 0 0.3rem;
    }
    .Filter2ItemName {
        padding-right: 1rem;
    }
}