.HeaderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;
  max-width: 1280px;
  height: 3rem;
  gap: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
  padding: 0 5% 1rem 5%;
  flex-wrap: wrap;
}

.HeaderLogoWrapper {
  width: 6rem;
  display: flex;
  align-items: center;
}

.HeaderLogo {
  width: 5rem;
  object-fit: cover;
}

.HeaderNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 35%;
  min-width: 15rem;
}

.HeaderNavbarListItem {
  list-style-type: none;
  margin: 0 0.2rem 0 0.2rem;
  font-family: "Comfortaa", cursive;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}

.HeaderNavbarAnchor {
  text-decoration: none;
  color: black;
}

.HeaderNavbarListItem:hover {
  text-shadow: 0.5px 0.5px 0.5px gray;
}

.HeaderUtilityContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.HeaderNavbarAnchor.cart img {
  width: 30px;
  margin-left: 30px;
  display: flex;
  align-items: flex-end;
}

.HeaderNavbarMobileWrapper {
  display: none;
  
  width: 5rem;
  background-color: white;
  width: 3rem;
}

.HeaderNavbarMobileButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-color: white;
}

.HeaderNavbarMobileButtonImage {
  width: 3rem;
}


.HeaderSecretButton {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0.3rem;
  height: 1rem;
  width: 2rem;
  border: none;
  background-color: rgb(245, 244, 244);
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .HeaderNavbar {
    display: none;
  }

  .HeaderNavbarMobileWrapper {
    display: flex;
    justify-content: flex-end;
    background-color: white;
  }
  .HeaderNavbarMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 0;
    top: -20rem;
    left: 0;
    margin: 0;
    transition: all 1s ease;
    background-color: white;
    z-index: 999;
    padding-bottom: 1rem;
  }
  
  .HeaderNavbarMobileActive {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 0;
    top: 4rem;
    left: 0;
    margin: 0;
    transition: all 1s ease;
    background-color: white;
    z-index: 999;
    padding-bottom: 1rem;
  }

  .HeaderNavbarListItem {
    margin: 0.3rem 0 0.3rem 0;
  }
  .HeaderNavbarMobile {
    display: flex;
    justify-content: center;
  }
  .HeaderWrapper {
    align-items: center;
    padding-top: 1rem;
    height: 5rem;
    padding-bottom: 1.5rem;
    width: 90%;
    position: relative;
  }
  .HeaderLogoWrapper {
    width: 7rem;
    display: flex;
    align-items: center;
  }
  
  .HeaderLogo {
    width: 7rem;
    object-fit: cover;
  }
 .HeaderSearchWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  
 }
 .HeaderSecretButton {
  display: none;
 }
}

@media screen and (max-width: 400px) {
  .HeaderNavbarMobileWrapper {
    width: 4rem;
  }
}