.CheckoutWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 0 5% 0 5%;
    background-color: #c0bbbb37;
    flex: 1;
}

.CheckoutHeading {
    width: 15rem;
    text-align: center;
    font-family: "Comfortaa", cursive;
    padding: 2rem 0 0.5rem 0;
    border-bottom: 2px solid rgb(41, 41, 41);
}

.CheckoutBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    padding: 1rem 0 3rem 0;
}

.CheckoutBody .FormWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 500px;
    padding: 2rem 3rem;
    background-color: white;
    border-radius: 3px;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    font-family: "Comfortaa", cursive;
}

.CheckoutBody .FormTitle {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.CheckoutBody .FormContainer {
    width: 100%;
}

.CheckoutBody .Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.CheckoutBody .Form label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
}

.CheckoutBody .Form span {
    margin-top: 1rem;
}

.CheckoutBody .Form input {
    border: none;
    border-radius: 5px;
    height: 1.5rem;
    background-color: rgb(247, 247, 247);
    margin-top: 0.5rem;
    transition: all 0.5s ease;
    outline: none ;
    padding: 0.5rem;
    font-family: "Comfortaa", cursive;
    width: 100%;
}

.CheckoutBody .Form input:focus {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}