.AboutShopSectionWrapper {
    width: 90%;
    padding: 1rem 5% 0 5%;
    display: flex;
    justify-content: space-between;
}

.AboutShopImageWrapper {
    width: 50%;
    height: 100%;
}

.AboutShopImage {
    width: 100%;
    object-fit: cover;
}