.FilterWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c0bbbb37;
    width: 90%;
    padding: 2rem 5% 2rem 5%;   
}
.Filter {
    width: 100%;
    max-width: 1280px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
}

@media screen and (max-width: 470px) {
    .Filter {
        grid-template-columns: 1fr 1fr;
    }
}