.FilterWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 5% 3rem 5%;
    background-color: #c0bbbb37;
    width: 100%;
}
.Filter {
    width: 100%;
    max-width: 1280px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
}
@media screen and (max-width: 850px) {
    .Filter {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    }
}
@media screen and (max-width: 470px) {
    .Filter {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 1rem;
    }
    .FilterWrapper {
        padding: 0.5rem;
    }
}